package global

const (
	DEBUG_MODE       = false
	VERBOSE          = true
	LOG_DEBUG        = false
	LOG_ERRORS       = false
	LOG_WARNINGS     = false
	CONFIG_VERSION	 = 1
	APP_UUID_4_GO	 = "f71eac92-28db-4617-82b0-daf4282aa862"
	APP_HASH_ENC_KEY = "KndyJvltmd7RdszW1MQMUG74ENjT87l5"
)
